<script>
  import Recipe from './lib/Recipe.svelte'
</script>

<main>
  <a href="/">
    <img src="/pizza-logo.png" class="logo" alt="Pizza Logo" />
  </a>
  <h1>Neapolitan Style Pizza Recipe</h1>


  <Recipe />

  <p>
    Source code: <a href="https://gitlab.com/haniffm/hazapi-web/" target="_blank">Hazapi Web</a>
  </p>
</main>

<style>
  .logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
  }
  .logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
</style>
